@{
    ViewBag.Title = "_HeaderPartial";
}

<!-- Navbar Header -->
<div class="header-content">
    <nav class="navbar navbar-expand">
        <div class="collapse navbar-collapse justify-content-between">
            <!-- 搜索 -->
            <div class="header-left">
                <!--<div class="search_bar dropdown">-->
                    <!-- 搜索图标 -->
                    <!--<span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                        <i class="fas fa-search"></i>
                    </span>-->

                    <!-- 输入框 -->
                    <!--<div class="dropdown-menu p-0 m-0">
                        <form>
                            <input class="form-control" type="search" placeholder="请输入查询..." aria-label="Search">
                        </form>
                    </div>
                </div>-->
            </div>

            <!-- 消息 -->
            <ul class="navbar-nav header-right">
                <li class="nav-item dropdown notification_dropdown">
                    <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                        <i class="fa-regular fa-envelope"></i>
                        <div class="pulse-css"></div>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <ul class="list-unstyled">
                            <li class="media dropdown-item">
                                <span class="success"><i class="ti-user"></i></span>
                                <div class="media-body">
                                    <a href="#">
                                        <p>
                                            <strong>Martin</strong> has added a <strong>customer</strong> Successfully
                                        </p>
                                    </a>
                                </div>
                                <span class="notify-time">3:20 am</span>
                            </li>

                            <li class="media dropdown-item">
                                <span class="primary"><i class="ti-shopping-cart"></i></span>
                                <div class="media-body">
                                    <a href="#">
                                        <p><strong>Jennifer</strong> purchased Light Dashboard 2.0.</p>
                                    </a>
                                </div>
                                <span class="notify-time">3:20 am</span>
                            </li>

                            <li class="media dropdown-item">
                                <span class="danger"><i class="ti-bookmark"></i></span>
                                <div class="media-body">
                                    <a href="#">
                                        <p>
                                            <strong>Robin</strong> marked a <strong>ticket</strong> as unsolved.
                                        </p>
                                    </a>
                                </div>
                                <span class="notify-time">3:20 am</span>
                            </li>

                        </ul>

                        <a class="all-notification" href="#">
                            See all notifications <i class="ti-arrow-right"></i>
                        </a>
                    </div>
                </li>

                <!-- 用户 -->
                <li class="nav-item dropdown header-profile">
                    <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                        <i class="fas fa-user"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <i class="icon-user"></i>
                            <span class="ml-2">Profile </span>
                        </a>
                        <a href="./email-inbox.html" class="dropdown-item">
                            <i class="icon-envelope-open"></i>
                            <span class="ml-2">Inbox </span>
                        </a>
                        <a href="./page-login.html" class="dropdown-item">
                            <i class="icon-key"></i>
                            <span class="ml-2">Logout </span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>