@{
    ViewBag.Title = "_SidebarPartial";
}

<div class="quixnav-scroll">
    <ul class="metismenu" id="menu">

        <li class="nav-label first">主 菜 单</li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="fas fa-user"></i><span class="nav-text">账 户</span>
            </a>

            <ul aria-expanded="false">
                <li><a href="#">安 全 设 置</a></li>
                <li><a href="#">个 人 信 息</a></li>
            </ul>
        </li>


        <li class="nav-label">应 用</li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="fa-solid fa-briefcase"></i><span class="nav-text">业 务</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="#">店 铺 管 理</a></li>
                <li>@Html.ActionLink("类 别 管 理", "CategoryManagement", "Category")</li>
                <li>@Html.ActionLink("商 品 管 理", "ProductManagement", "Product")</li>
                <li><a href="#">特 惠 福 利</a></li>
                @*<li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">下拉</a>
                    <ul aria-expanded="false">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                    </ul>
                </li>*@
            </ul>
        </li>


        @*<li class="nav-label">Extra</li>
        <li>
            <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class=""></i><span class="nav-text">Pages</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="#">Register</a></li>
                <li><a href="#">Login</a></li>
                <li>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                    <ul aria-expanded="false">
                        <li><a href="#">Error 400</a></li>
                        <li><a href="#">Error 403</a></li>
                        <li><a href="#">Error 404</a></li>
                        <li><a href="#">Error 500</a></li>
                        <li><a href="#">Error 503</a></li>
                    </ul>
                </li>
                <li><a href="#">Lock Screen</a></li>
            </ul>
        </li>*@
    </ul>
</div>
